global_defs {
  router_id LVS_DEVEL
}

vrrp_instance VI_1 {
  state {% if haproxy_servers[0] in ansible_default_ipv4.address %}MASTER{% else %}BACKUP{% endif %}

  interface {{ ansible_default_ipv4.alias }}
  virtual_router_id 51
  priority {% if haproxy_servers[0] in ansible_default_ipv4.address %}100{% else %}{{ 99 | random(seed=ansible_hostname,start=1, step=1) }}{% endif %}

  advert_int 1
  authentication {
    auth_type PASS
    auth_pass {{ lookup('password', '' + group_names[-1] + ':authentication length=8 chars=ascii_letters,digits') }}
  }

  unicast_src_ip {{ ansible_default_ipv4.address }}
  unicast_peer {
{% for ip in haproxy_servers %}
{% if ip not in ansible_default_ipv4.address %}
    {{ ip }}
{% endif %}
{% endfor %}
  }
  virtual_ipaddress {
    {{ haproxy_keepalived_vip }}
  }
  notify /etc/keepalived/notify-keepalived.sh
}