# -*- mode: conf -*-

[Unit]
Description=Prometheus exporter for machine metrics, written in Go with pluggable metric collectors.
Documentation=https://github.com/gen2brain/keepalived_exporter
After=network.target

[Service]
StandardError=null
EnvironmentFile=-/etc/default/keepalived_exporter
User=root
LimitNOFILE=4096
LimitNPROC=4096
ExecStart=/usr/local/bin/keepalived_exporter $KEEPALIVED_EXPORTER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
